snippet def
    \stackrel{\mathrm{def}}{=}
snippet ast
    \verb!*!
snippet template
    \documentclass[11pt]{jsarticle}
    \usepackage{amsmath,amssymb,comment,mathdots,bm,ascmac,booktabs,multirow}
    \newtheorem{thm}{Theorem}
    \newtheorem{pro}{Prop}
    \newtheorem{dfn}{Definition}
    \begin{document}
    \title{title}
    \author{author}
    \maketitle
    \end{document}
